body {
	background: rgb(255, 204, 204);
}

.title {
	width: 70%;
	height: auto;
	font-family: 'Sacramento', cursive;
	margin: auto;
	text-align: center;
	line-height: 0;
	padding: 10px;
}
.title h1 {
	font-size: 100;
	color: white;
}
.title h2 {
	font-size: 70;
	color: rgb(153, 153, 153);
}
video {
	display: block;
	margin: auto;
}